#header {
  height: 19px;
  padding: 11px 30px 9px;
}

#header h1 {
  display: block;
  float: left;
}

#header ul#tabs {
  height: 18px;
}

#header ul#tabs.loading {
  width: 220px;
  background: url('/images/global-nav-spinner.gif') no-repeat;
}
