<!DOCTYPE html>

<html>

  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>Interface 3.0</title>
    <link href="/favicon.ico" rel="icon" type="image/x-icon" />
    <script src="/js/easyXDM.js" type="text/javascript"></script>
    <script src="/js/json2.js" type="text/javascript"></script>
    <script src="/js/jquery.js" type="text/javascript"></script>
    <script src="/js/jquery-ui-1.8.2/jquery-ui.min.js" type="text/javascript"></script>
    <script src="/js/jquery.tmpl.js" type="text/javascript"></script>
    <script src="/js/underscore.js" type="text/javascript"></script>
    <script src="/js/inflections.js" type="text/javascript"></script>
    <script src="/js/amplify.store.js" type="text/javascript"></script>
    <script src="/js/history.adapter.jquery.js" type="text/javascript"></script>
    <script src="/js/history.js" type="text/javascript"></script>
    <script src="/js/sherpa.js" type="text/javascript"></script>
    <script src="/js/caribou.js" type="text/javascript"></script>
    <script src="/js/admin.js" type="text/javascript"></script>
    <link href="/stylesheets/active_admin.css" rel="stylesheet" type="text/css" media="screen" />
  </head>
  
  <body class="logged_in admin_model show">
    
    <div id="wrapper">
      
      <div id="header">
        <h1 id="site_title">Nike Better World</h1>
        <ul class="header-item" id="tabs"></ul>
        <p class="header-item" id="utility_nav"><span class="current_user">justin@weareinstrument.com</span> <a href="#">Logout</a></p>
      </div>
      
      <div id="title_bar">
        <div id="titlebar_left">
          <span class="breadcrumb">&nbsp;</span>
          <h2 id="page_title">&nbsp;</h2>
        </div>
        <div id="titlebar_right">
          <div class="action_items">&nbsp;</div>
        </div>
      </div>
      
      <div class="flashes"></div>
      
      <div class="without_sidebar" id="active_admin_content">&nbsp;</div>
      
      <div id="footer">
        <p>Powered by <a href="http://www.activeadmin.info">Active Admin</a> 0.3.1</p>
      </div>
      
      <div id="upload_dialog">
        <form accept-charset="UTF-8" target="upload_target" action="${caribou.remoteAPI}/upload" class="formtastic ${model.slug} content_form" id="file_upload" method="post" enctype="multipart/form-data">
          <input type="hidden" id="upload_context" name="context" value="" />
          <input type="file" name="upload" />
          <input type="submit" value="Upload File">
        </form>
      </div>

    </div>
    
  </body>
  
</html>

<script type="text/javascript">$(document).ready(caribou.admin.init)</script>

<!-- 

HEADER TEMPLATES

-->

<script id="tabbedNavigation" type="text/x-jquery-tmpl">
  {{each(i, choice) choices}}
  {{if choice.children}}
  <li id="${choice.slug}" class="has_nested"><a href="javascript:;">${choice.label}</a>
  	<ul>
        {{tmpl({chosen: $data.chosen, choices: choice.children}) "#tabbedNavigation"}}
    </ul>
  </li>
  {{else}}
  <li id="${choice.slug}" class="${chosen === choice.slug ? 'current' : ''}"><a href="javascript:;" onclick="caribou.admin.nav.select('${choice.slug}', '${choice.action}')">${choice.label}</a></li>
  {{/if}}
  {{/each}}
</script>

<!-- 

BREADCRUMB AND PAGE TITLE TEMPLATES

-->

<script id="breadcrumb" type="text/x-jquery-tmpl">
  {{each(i, item) items}}
  <a href="javascript:;" onclick="caribou.go('${item.action}')">${item.label}</a>
  <span class="breadcrumb_sep">/</span>
  {{/each}}
</script>

<script id="pageTitle" type="text/x-jquery-tmpl">
  ${title}
</script>

<!-- 

FLASH TEMPLATES

-->

<script id="flashNotice" type="text/x-jquery-tmpl">
  <div class="flash flash_notice">${message}</div>
</script>

<script id="flashError" type="text/x-jquery-tmpl">
  <div class="flash flash_error">${message}</div>
</script>

<!-- 

ACTION ITEMS TEMPLATES

-->

<script id="actionItems" type="text/x-jquery-tmpl">
  {{each(i, item) items}}
  <!-- {{if (/new/).test(item.action)}}<span class="action_item"><a href="javascript:;" onclick="caribou.go('${item.action}')">${label}</a></span>{{/if}} -->
  <span class="action_item"><a href="javascript:;" onclick="caribou.go('${item.action}')">${label}</a></span>
  {{/each}}
</script>

<script id="actionItemsForGenericEdit" type="text/x-jquery-tmpl">
  <span class="action_item"><a href="javascript:;" onclick="caribou.go('/${model.slug}/new')">New ${model.name}</a></span>
</script>

<script id="actionItemsForGenericView" type="text/x-jquery-tmpl">
  <span class="action_item"><a href="javascript:;" onclick="caribou.go('/${model.slug}/${content.id}/edit')">Edit ${model.name}</a></span>
  <span class="action_item"><a href="/${model.slug}/${content.id}" data-confirm="Are you sure you want to delete this?" data-method="delete" rel="nofollow">Delete ${model.name}</a></span>
</script>

<!-- 

SIDEBAR TEMPLATES

-->

<script id="sidebar" type="text/x-jquery-tmpl">
  {{each(i, object) viewSpec.response.content.sidebar}}
  {{if object.type == "sidebarPanel"}}
  {{tmpl({viewSpec: $data.viewSpec, viewData: $data.viewData, object: object}) "#sidebarPanel"}}
  {{/if}}
  {{/each}}
</script>

<script id="sidebarForGenericList" type="text/x-jquery-tmpl">
  <div class="panel sidebar_section" id="filters_sidebar_section">
    <h3>Filters</h3>
    <div class="panel_contents">
      <form accept-charset="UTF-8" action="/admin/customers" class="filter_form" id="q_search" method="get">
        <div style="margin:0;padding:0;display:inline">
          <input name="utf8" type="hidden" value="&#x2713;" />
        </div>
        <div class="filter_form_field filter_string">
          <label for="q_username_contains">Search Text</label>
          <input id="q_username_contains" name="q[username_contains]" size="30" type="text" />
        </div>
        <div class="filter_form_field filter_date_range">
          <label for="q_created_at_gte">Created at</label>
          <input class="datepicker" id="q_created_at_gte" max="10" name="q[created_at_gte]" size="12" type="text" value="" />
          <span class="seperator">-</span>
          <input class="datepicker" id="q_created_at_lte" max="10" name="q[created_at_lte]" size="12" type="text" value="" />
        </div>
        <div class="buttons">
          <input id="q_submit" name="commit" type="submit" value="Filter" />
          <a href="#" class="clear_filters_btn">Clear Filters</a>
          <input id="order" name="order" type="hidden" value="id_desc" />
          <input id="scope" name="scope" type="hidden" />
        </div>
      </form>
    </div>
  </div>
  <div class="panel sidebar_section" id="active admin demo_sidebar_section">
    <h3>Active Admin Demo</h3>
    <div class="panel_contents">This is the demo app for <a href="http://activeadmin.info">Active Admin</a>. Don't hesitate to check out the <a href="https://github.com/gregbell/demo.activeadmin.info/blob/master/app/admin/orders.rb">source code for this page</a>, the <a href="http://activeadmin.info/documentation.html">Documentation</a> and the <a href="https://github.com/gregbell/active_admin">Github Repo</a>.</div>
  </div>
</script>

<script id="sidebarForModelEdit" type="text/x-jquery-tmpl">
  <div class="panel sidebar_section" id="filters_sidebar_section">
    <h3>Model Details</h3>
    <div class="panel_contents">
      <div class="${model.slug} attributes_table" id="attributes_table_${model.slug}_${content.id}">
        <table border="0" cellspacing="0" cellpadding="0">
          {{each(i, field) model.fields}}
          {{if !field.editable || field.slug === 'position'}}
          <tr>
            <th>${field.name}</th>
            <td>{{if $data.content[field.slug] === null || $data.content[field.slug] === ""}}<span class="empty">Empty</span>{{else}}${$data.content[field.slug]}{{/if}}</td>
          </tr>
          {{/if}}
          {{/each}}
        </table>
      </div>
    </div>
  </div>
  <div class="panel sidebar_section" id="fields_sidebar_section">
    <h3>Model Builder</h3>
    <div class="panel_contents">
      {{each(i, type) _.keys(fieldTypes)}}
      <div onclick="caribou.admin.modelView.edit.newField('${$data.content.slug}', '${type}')" class="type">${$data.fieldTypes[type].name}</div>
      {{/each}}
      <!-- <a href="">Single Line Text</a> -->
      <!-- <a href="">Paragraph Text</a> -->
      <!-- <a href="">Slug</a> -->
      <!-- <a href="">Asset</a> -->
      <!-- <a href="">Related Data</a> -->
      <!-- <a href="">Drop Down</a> -->
      <!-- <a href="">Multiple Choice</a> -->
      <!-- <a href="">Checkbox</a> -->
      <!-- <br><br> -->
      <!-- <a href="">Number</a> -->
      <!-- <a href="">Date / Time</a> -->
      <!-- <a href="">Duration</a> -->
      <!-- <a href="">Calculation</a> -->
      <!-- <a href="">Price</a> -->
      <!-- <a href="">Automatic Counter</a> -->
      <!-- <a href="">Rating</a> -->
      <!-- <a href="">Encrypted</a> -->
      <!-- <br><br> -->
      <!-- <a href="">Address</a> -->
      <!-- <a href="">Phone Number</a> -->
      <!-- <a href="">Email Address</a> -->
      <!-- <a href="">URL</a> -->
      <!-- <a href="">IM Account</a> -->
      <!-- <br><br> -->
    </div>
  </div>
</script>

<!-- 

DASHBOARD TEMPLATES

-->



<!-- 

INDEX TEMPLATES

-->

<script id="contentForGenericIndex" type="text/x-jquery-tmpl">
  <div id="main_content_wrapper">
    <div id="main_content">
      {{if viewData.response.length > 0}}
      {{tmpl({viewSpec: viewSpec, viewData: viewData}) "#scopes"}}
      <div class="paginated_collection">
        <div class="paginated_collection_contents">
          <div class="index_content">
            <div class="index_as_table">
              <table class="index_table" border="0" cellspacing="0" cellpadding="0">
                <thead>
                  <tr>
                    {{each(i, column) viewSpec.response.content.main_content.table.columns}}
                    {{if column.sortable === true}}
                    <th class="{{if column.slug === viewData.meta.order_by}}sorted-${viewData.meta.order}{{/if}} sortable ${column.slug}">
                      <a href="javascript:;" onclick="caribou.go('/${viewSpec.meta.view.slug}?page=${viewData.meta.page}&page_size=${viewData.meta.page_size}&order_by=${column.slug}&order=${viewData.meta.order === 'asc' ? 'desc' : 'asc'}')">${column.label}</a>
                    </th>
                    {{else}}
                    <th>${column.label}</th>
                    {{/if}}
                    {{/each}}
                    {{if viewSpec.response.content.main_content.table.actions.length > 0}}
                    <th>&nbsp;</th>
                    {{/if}}
                  </tr>
                </thead>
                <tbody>
                  {{each(i, row) viewData.response}}
                  <tr id="${$data.viewSpec.meta.view.slug}_${row.id}" class="{{if i%2==0}}odd{{else}}even{{/if}}">
                    {{tmpl({viewSpec: $data.viewSpec, rowData: row}) "#mainContentForGenericRow"}}
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        {{tmpl({viewSpec: viewSpec, viewData: viewData}) "#indexFooter"}}
      </div>
      {{else}}
      <div class="blank_slate_container">
        <span class="blank_slate">There are no ${viewSlug} yet. <a href="/${viewSlug}/new">Create one</a></span>
      </div>
      {{/if}}
    </div>
  </div>
  <div id="sidebar">
    {{tmpl({viewSpec: viewSpec, viewData: viewData}) "#sidebarForGenericList"}}
  </div>
</script>

<script id="scopes" type="text/x-jquery-tmpl">
  {{if viewSpec.response.content.main_content.scopes.length > 0}}
  <div class="table_tools">
    <ul class="scopes table_tools_segmented_control">
      <li class="scope all selected">
        <a href="javascript:;" onclick="caribou.go('${viewSpec.meta.view.slug}?page=${viewData.meta.page}&page_size=${viewData.meta.page_size}&order_by=${viewData.meta.order_by}&order=${viewData.meta.order}&scope=all')" class="table_tools_button">
          All
          <span class="count">(${viewData.meta.count})</span>
        </a>
      </li>
    </ul>
  </div>
  {{/if}}
</script>

<script id="mainContentForGenericRow" type="text/x-jquery-tmpl">
  {{each(i, column) viewSpec.response.content.main_content.table.columns}}
  {{tmpl({viewSpec: $data.viewSpec, columnSpec: column, rowData: $data.rowData}) "#" + column.format + "Cell"}}
  {{/each}}
  {{if viewSpec.response.content.main_content.table.actions.length > 0}}
  <td>
  {{each(i, action) viewSpec.response.content.main_content.table.actions}}
  {{if action === "view"}}<a href="javascript:;" onclick="caribou.go('/${viewSpec.meta.view.slug}/${rowData.id}')" class="member_link view_link">View</a>{{/if}}
  {{if action === "edit"}}<a href="javascript:;" onclick="caribou.go('/${viewSpec.meta.view.slug}/${rowData.id}/edit')" class="member_link edit_link">Edit</a>{{/if}}
  {{if action === "delete" && rowData.locked != true}}<a href="javascript:;" class="member_link delete_link" data-confirm="Are you sure you want to delete this?" data-method="delete" rel="nofollow">Delete</a>{{/if}}
  {{/each}}
  </td>
  {{/if}}
</script>

<script id="textCell" type="text/x-jquery-tmpl">
  <td>${rowData[columnSpec.slug]}</td>
</script>

<script id="linkCell" type="text/x-jquery-tmpl">
  <td><a href="javascript:;" onclick="caribou.go('/${viewSpec.meta.view.slug}/${rowData.id}')">${rowData[columnSpec.slug]}</a></td>
</script>

<script id="indexFooter" type="text/x-jquery-tmpl">
  <div id="index_footer">
    <nav class="pagination">
      {{if viewData.meta.page > 1}}
      <span class="first">
        <a href="javascript:;" onclick="caribou.go('/${viewSpec.meta.view.slug}?page=1&page_size=${viewData.meta.page_size}&order_by=${viewData.meta.order_by}&order=${viewData.meta.order}')">First &laquo;</a>
      </span>
      {{/if}}
      {{if viewData.meta.page > 1}}
      <span class="previous">
        <a href="javascript:;" onclick="caribou.go('/${viewSpec.meta.view.slug}?page=${viewData.meta.page-1}&page_size=${viewData.meta.page_size}&order_by=${viewData.meta.order_by}&order=${viewData.meta.order}')" rel="previous">Previous &lsaquo;</a>
      </span>
      {{/if}}
      {{each(i, page) _.range(1, viewData.meta.total_pages+1)}}
      {{if page === $data.viewData.meta.page}}
      <span class="page current">${$data.viewData.meta.page}</span>
      {{else}}
      <span class="page">
        <a href="javascript:;" onclick="caribou.go('/${viewSpec.meta.view.slug}?page=${page}&page_size=${$data.viewData.meta.page_size}&order_by=${$data.viewData.meta.order_by}&order=${$data.viewData.meta.order}')">${page}</a>
      </span>
      {{/if}}
      {{/each}}
      <!--<span class="page gap">...</span>-->
      {{if viewData.meta.page < viewData.meta.total_pages}}
      <span class="next">
        <a href="javascript:;" onclick="caribou.go('/${viewSpec.meta.view.slug}?page=${viewData.meta.page+1}&page_size=${viewData.meta.page_size}&order_by=${viewData.meta.order_by}&order=${viewData.meta.order}')" rel="next">Next &rsaquo;</a>
      </span>
      {{/if}}
      {{if viewData.meta.page < viewData.meta.total_pages}}
      <span class="last">
        <a href="javascript:;" onclick="caribou.go('/${viewSpec.meta.view.slug}?page=${viewData.meta.total_pages}&page_size=${viewData.meta.page_size}&order_by=${viewData.meta.order_by}&order=${viewData.meta.order}')">Last &raquo;</a>
      </span>
      {{/if}}
    </nav>
    <div class="pagination_information">Displaying ${viewSpec.meta.view.label} <b>${(viewData.meta.page-1)*(viewData.meta.page_size)+1}&nbsp;-&nbsp;${(viewData.meta.page-1)*(viewData.meta.page_size)+viewData.meta.count}</b> of <b>${viewData.meta.total_items}</b> in total</div>
    <div class="download_links">Download:&nbsp;<a href="${caribou.remoteAPI}/${viewSpec.meta.view.slug}.csv">CSV</a>&nbsp;<a href="#{caribou.remoteAPI}/${viewSpec.meta.view.slug}.xml">XML</a>&nbsp;<a href="#{caribou.remoteAPI}/${viewSpec.meta.view.slug}.json">JSON</a></div>
  </div>
</script>

<!-- 

VIEW TEMPLATES

-->

<script id="contentForGenericView" type="text/x-jquery-tmpl">
  <div id="main_content_wrapper">
    <div id="main_content">
      {{each(i, object) viewSpec.response.content.main_content}}
      {{if object.type == "panel"}}
      {{tmpl({viewSpec: $data.viewSpec, viewData: $data.viewData, object: object}) "#panel"}}
      {{/if}}
      {{/each}}
    </div>
  </div>
  <div id="sidebar">
    {{tmpl({viewSpec: viewSpec, viewData: viewData}) "#sidebar"}}
  </div>
</script>

<script id="panel" type="text/x-jquery-tmpl">
  <div class="panel">
    <h3>${object.title}</h3>
    <div class="panel_contents">
      {{each(i, object) object.contents}}
      {{if object.type == "panelAttributesTable"}}
      {{tmpl({viewSpec: $data.viewSpec, viewData: $data.viewData, object: object}) "#panelAttributesTable"}}
      {{/if}}
      {{/each}}
    </div>
  </div>
</script>

<script id="sidebarPanel" type="text/x-jquery-tmpl">
  <div class="panel sidebar_section">
    <h3>${object.title}</h3>
    <div class="panel_contents">
      {{each(i, object) object.contents}}
      {{if object.type == "panelAttributesTable"}}
      {{tmpl({viewSpec: $data.viewSpec, viewData: $data.viewData, object: object}) "#panelAttributesTable"}}
      {{/if}}
      {{/each}}
    </div>
  </div>
</script>

<script id="panelAttributesTable" type="text/x-jquery-tmpl">
  <div class="${viewSpec.meta.model} attributes_table" id="attributes_table_${viewSpec.meta.model}_${viewData.response.id}">
    <table border="0" cellspacing="0" cellpadding="0">
      {{each(i, field) object.contents}}
      <tr>
        <th><label class="label">${field.label}</label></th>
        <td>{{if viewData.response[field.slug] == null}}<span class="empty">Empty</span>{{else}}${viewData.response[field.slug]}{{/if}}</td>
      </tr>
      {{/each}}
    </table>
  </div>
</script>

<script id="mainContentForModelView" type="text/x-jquery-tmpl">
  <div class="panel">
    <h3>Fields (${content.fields.length})</h3>
    <div class="panel_contents">
      <table border="0" cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
          </tr>
        </thead>
        <tbody>
          {{each(i, field) content.fields}}
          <tr class="{{if i%2==0}}odd{{else}}even{{/if}}">
            <td>${field.name}</td>
            <td>${field.type}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</script>

<!-- 

EDIT TEMPLATES

-->

<script id="contentForGenericEdit" type="text/x-jquery-tmpl">
  <div id="main_content_wrapper">
    <div id="main_content">
      <form accept-charset="UTF-8" action="/${viewSpec.meta.model}/${viewData.response.id}" class="formtastic ${viewSpec.meta.model}" id="${viewSpec.meta.model}_edit" method="post">
        <div style="margin:0;padding:0;display:inline">
          {{if viewData.response.id}}
          <input type="hidden" name="${viewSpec.meta.model}[id]" value="${viewData.response.id}" />
          {{/if}}
        </div>
        {{each(i, item) viewSpec.response.content.main_content}}
          {{if item.type == "fieldset"}}
          {{tmpl({viewSpec: $data.viewSpec, viewData: $data.viewData, fieldsetData: item}) "#fieldset"}}
          {{/if}}
        {{/each}}
        <fieldset class="buttons">
          <ol>
            <li class="commit button">
              <a href="javascript:;" class="button" onclick="caribou.admin.${action}('${viewSpec.meta.model}', '${viewSpec.meta.view.slug}')">${action} ${viewSpec.meta.view.label}</a>
            </li>
            <li class="cancel">
              <a href="javascript:;" onclick="caribou.go('/${viewSpec.meta.view.slug}')">Cancel</a>
            </li>
          </ol>
        </fieldset>
      </form>
    </div>
  </div>
  <div id="sidebar">
    {{tmpl({viewSpec: viewSpec, viewData: viewData}) "#sidebarForGenericList"}}
  </div>
</script>

<script id="fieldset" type="text/x-jquery-tmpl">
  <fieldset class="inputs">
      <ol>
        {{each(i, field) fieldsetData.fields}}
        <li class="${field.format} input required stringish" id="${$data.viewSpec.meta.model}_${field.slug}_input">
          {{if field.editable}}
          {{tmpl({viewSpec: $data.viewSpec, viewData: $data.viewData, field: field}) "#" + field.format + "Field"}}
          {{else}}
          <label>${field.label}</label>
          ${viewData.response[field.slug]}
          {{/if}}
        </li>
        {{/each}}
      </ol>
    </fieldset>
</script>

<script id="mainContentForModelEdit" type="text/x-jquery-tmpl">
  <form accept-charset="UTF-8" action="/${model.slug}/${content.id}" class="formtastic ${model.slug}" id="${model.slug}_edit" method="post">
    <div style="margin:0;padding:0;display:inline">
      <input type="hidden" name="${model.slug}[id]" value="${content.id}" />
    </div>
    <fieldset class="inputs">
      <legend><span>Model Settings</span></legend>
      <ol>
        {{each(i, field) model.fields}}
        {{if field.editable && field.slug != 'position'}}
        <li class="${field.type} required" id="${$data.model.slug}_${field.slug}_input">
          {{tmpl({model: $data.model, content: $data.content, field: field}) "#"+field.type+"Field"}}
        </li>
        {{/if}}
        {{/each}}
      </ol>
    </fieldset>
    
    <div class="panel">
      <h3>Model Fields</h3>
      <div class="panel_contents model_fields_edit_table">
        <input id="removed_fields" type="hidden" name="${model.slug}[removed_fields]" value="">
        <table border="0" cellspacing="0" cellpadding="0">
          <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Options</th>
              <th>&nbsp;</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody class="sortable">
            {{each(i, field) content.fields}}
            {{tmpl({model: $data.model, content: $data.content, field: field, index: i, fieldTypes: $data.fieldTypes}) "#abstractFieldForModelEdit"}}
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
    
    <fieldset class="buttons">
      <ol>
        <li class="commit">
          <input type="submit" onclick="caribou.admin.${action}('${model.slug}')" value="${_.capitalize(action)} ${model.name}">
        </li>
        <li class="cancel">
          <a href="/${model.slug}">Cancel</a>
        </li>
      </ol>
    </fieldset>
  </form>
</script>

<!-- 

MODEL FIELD FORM TEMPLATES

-->

<!--ABSTRACT-->
<script id="abstractFieldForModelEdit" type="text/x-jquery-tmpl">
  <tr>
    <td class="name"><input type="text" class="{{if field.type === 'string'}}string_field{{/if}}" name="model[fields][${index}][name]" value="${field.name}" /></td>
    <td class="type">
      <input type="hidden" name="model[fields][${index}][type]" value="${field.type}" />
      <input class="model_id" type="hidden" name="model[fields][${index}][id]" value="${field.id}" />
      <input class="model_position" type="hidden" name="model[fields][${index}][model_position]" value="${field.model_position}" />
      <span>${fieldTypes[field.type].name}</span>
    </td>
    <td class="options">
      {{each(i, option) fieldTypes[field.type].options}}
      {{tmpl({model: $data.model, content: $data.content, field: $data.field, index: $data.index}) "#"+option+"FieldOptions"}}
      {{/each}}
    </td>
    <td class="options"><label><input type="checkbox"> Required field?</label></td>
    <td class="actions">{{if !field.locked}}<a href="javascript:;" class="member_link delete_link">Delete</a> {{/if}}<a href="javascript:;" class="member_link handle_link">Drag</a></td>
  </tr>
</script>
<!--ABSTRACT-->

<script id="defaultStringFieldOptions" type="text/x-jquery-tmpl">
  <div class="field"><label for="">Default value</label><input type="text" name="model[fields][${index}][default_value]" value="${field.default_value}" /></div>
</script>

<script id="defaultBooleanFieldOptions" type="text/x-jquery-tmpl">
  <div class="field">
    <label for="">Default value</label>
    <select name="model[fields][${index}][default_value]">
      <option{{if field.default_value}} selected="selected"{{/if}}>true</option>
      <option{{if !field.default_value}} selected="selected"{{/if}}>false</option>
    </select>
  </div>
</script>

<script id="slugLinkFieldOptions" type="text/x-jquery-tmpl">
  <div class="field">
    <label for="">Linked field</label>
    <select name="model[fields][${index}][link_slug]" class="slug_options">{{html caribou.admin.slugOptions(content, field.link)}}</select>
  </div>
</script>

<script id="linkFieldOptions" type="text/x-jquery-tmpl">
</script>

<!-- 

FIELD INPUT TEMPLATES

-->

<script id="booleanField" type="text/x-jquery-tmpl">
  <label for="${model.slug}_${field.slug}">
    <input type="checkbox" id="${model.slug}_${field.slug}" name="${model.slug}[${field.slug}]" value="true" {{if content[field.slug]}}checked{{/if}} />
    ${field.name}
  </label>
</script>

<script id="stringField" type="text/x-jquery-tmpl">
  <label for="${$data.model.slug}_${field.slug}">${field.name}<abbr title="required">*</abbr></label>
  <input type="text" id="${$data.model.slug}_${field.slug}" name="${$data.model.slug}[${field.slug}]" maxlength="255" value="${content[field.slug]}" />
</script>

<script id="slugField" type="text/x-jquery-tmpl">
  <label for="${$data.model.slug}_${field.slug}">${field.name}<abbr title="required">*</abbr></label>
  <input type="text" name="${model.slug}[${field.slug}]" value="${content[field.slug]}" />
</script>

<script id="integerField" type="text/x-jquery-tmpl">
  <label for="${$data.model.slug}_${field.slug}">${field.name}<abbr title="required">*</abbr></label>
  <input type="text" name="${model.slug}[${field.slug}]" value="${content[field.slug]}" />
</script>

<script id="decimalField" type="text/x-jquery-tmpl">
  <label for="${$data.model.slug}_${field.slug}">${field.name}<abbr title="required">*</abbr></label>
  <input type="text" name="${model.slug}[${field.slug}]" value="${content[field.slug]}" />
</script>

<script id="textField" type="text/x-jquery-tmpl">
  <label for="${$data.model.slug}_${field.slug}">${field.name}<abbr title="required">*</abbr></label>
  <textarea name="${model.slug}[${field.slug}]">${content[field.slug]}</textarea>
</script>

<script id="timestampField" type="text/x-jquery-tmpl">
  <label for="${$data.model.slug}_${field.slug}">${field.name}<abbr title="required">*</abbr></label>
  <input type="text" name="${model.slug}[${field.slug}]" value="${content[field.slug]}" />
</script>

<script id="addressField" type="text/x-jquery-tmpl">
  <input type="hidden" name="${model.slug}[${field.slug}_id]" value="{{if content[field.slug+'_id']}}${content[field.slug+'_id']}{{/if}}" />
  <label for="${$data.model.slug}_${field.slug}">${field.name}<abbr title="required">*</abbr></label>
  <input type="text" name="${model.slug}[${field.slug}][address]" value="{{if content[field.slug]}}${content[field.slug].address}{{/if}}" />
  <input type="text" name="${model.slug}[${field.slug}][address_two]" value="{{if content[field.slug]}}${content[field.slug].address_two}{{/if}}" />
  <input type="text" name="${model.slug}[${field.slug}][city]" value="{{if content[field.slug]}}${content[field.slug].city}{{/if}}" />
  <input type="text" name="${model.slug}[${field.slug}][state]" value="{{if content[field.slug]}}${content[field.slug].state}{{/if}}" />
  <input type="text" name="${model.slug}[${field.slug}][postal_code]" value="{{if content[field.slug]}}${content[field.slug].postal_code}{{/if}}" />
  <input type="text" name="${model.slug}[${field.slug}][country]" value="{{if content[field.slug]}}${content[field.slug].country}{{/if}}" />
</script>

<script id="collectionField" type="text/x-jquery-tmpl">
  
</script>

<script id="collectionFieldOld" type="text/x-jquery-tmpl">
  {{tmpl({model: field.target(), content: content[field.slug], meta: {}}) "#mainContentForList"}}
</script>

<script id="partField" type="text/x-jquery-tmpl">
  <label for="${$data.model.slug}_${field.slug}">${field.name}<abbr title="required">*</abbr></label>
  <input type="text" name="${model.slug}[${field.slug}]" value="${content[field.slug]}" />
</script>

<script id="linkField" type="text/x-jquery-tmpl">
  <label for="${$data.model.slug}_${field.slug}">${field.name}<abbr title="required">*</abbr></label>
  <input type="text" name="${model.slug}[${field.slug}]" value="${content[field.slug]}" />
</script>

<script id="assetField" type="text/x-jquery-tmpl">
  <div>
    <label for="${$data.model.slug}_${field.slug}" class="fileinput-button">
      <span>${field.name}</span>
    </label>
    <input id="${field.slug}_asset" name="${model.slug}[${field.slug}_id]" type="hidden" value="${content[field.slug+'_id']}"/>
    <span class="update" onclick="caribou.admin.showUploadForm('${field.slug}')">Choose Asset</span>
    <span id="${field.slug}_thumbnail">
      {{if content[field.slug]}}
      <a target="_blank" href="${caribou.remoteAPI}/${content[field.slug].path}"><img src="${caribou.remoteAPI}/${content[field.slug].path}" height="100" /></a>
      {{/if}}
    </span>
  </div>
</script>

