<!DOCTYPE html>

<html>

  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>Interface 3.0</title>
    <link href="/favicon.ico" rel="icon" type="image/x-icon" />
    <script src="/js/easyXDM.js" type="text/javascript"></script>
    <script src="/js/json2.js" type="text/javascript"></script>
    <script src="/js/jquery.js" type="text/javascript"></script>
    <script src="/js/jquery.tmpl.js" type="text/javascript"></script>
    <script src="/js/underscore.js" type="text/javascript"></script>
    <script src="/js/amplify.store.js" type="text/javascript"></script>
    <script src="/js/history.adapter.jquery.js" type="text/javascript"></script>
    <script src="/js/history.js" type="text/javascript"></script>
    <script src="/js/sherpa.js" type="text/javascript"></script>
    <script src="/js/interface.js" type="text/javascript"></script>
    <script src="/js/admin.js" type="text/javascript"></script>
    <link href="/stylesheets/active_admin.css" rel="stylesheet" type="text/css" media="screen" />
  </head>
  
  <body class="logged_in admin_model show">
    
    <div id="wrapper">
      
      <div id="header">
        <h1 id="site_title">Interface 3.0</h1>
        <ul class="tabbed_navigation" id="tabs"></ul>
        <p id="utility_nav">&nbsp;</p>
      </div>
      
      <div id="title_bar">
        <span class="breadcrumb"><a href="/admin">Admin</a><span class="breadcrumb_sep">/</span></span>
        <h2 id="page_title">&nbsp;</h2>
        <div class="action_items">&nbsp;</div>
      </div>
      
      <div class="flashes"></div>
      
      <div class="with_sidebar" id="active_admin_content">
        
        <div id="main_content_wrapper">
          <div id="main_content">&nbsp;</div>
        </div>
        
        <div id="sidebar">&nbsp;</div>
        
      </div>
      
      <div id="footer">
        <p>Powered by <a href="http://www.activeadmin.info">Active Admin</a> 0.3.1</p>
      </div>
      
    </div>
    
  </body>
  
</html>

<script type="text/javascript">$(document).ready(interface.admin.init)</script>

<script id="tabbedNavigation" type="text/x-jquery-tmpl">
  {{each(i, choice) choices}}
  <li id="${choice.title}" class="${chosen === choice.title ? 'current' : ''}"><a href="javascript:;" onclick="interface.admin.nav.select('${choice.title}', '${choice.url}')">${choice.title}</a></li>
  {{/each}}
</script>

<script id="flashNotice" type="text/x-jquery-tmpl">
  <div class="flash flash_notice"></div>
</script>

<script id="flashError" type="text/x-jquery-tmpl">
  <div class="flash flash_error"></div>
</script>

<script id="actionItemsForList" type="text/x-jquery-tmpl">
  <span class="action_item"><a href="javascript:;" onclick="interface.go('/${model.name}/new')">New ${model.name}</a></span>
</script>

<script id="actionItemsForEdit" type="text/x-jquery-tmpl">
  <span class="action_item"><a href="javascript:;" onclick="interface.go('/${model.name}/new')">New ${model.name}</a></span>
</script>

<script id="actionItemsForView" type="text/x-jquery-tmpl">
  <span class="action_item"><a href="javascript:;" onclick="interface.go('/${model.name}/${content.id}/edit')">Edit ${model.name}</a></span>
  <span class="action_item"><a href="/${model.name}/${content.id}" data-confirm="Are you sure you want to delete this?" data-method="delete" rel="nofollow">Delete ${model.name}</a></span>
</script>

<script id="sidebarForList" type="text/x-jquery-tmpl">
  <div class="panel sidebar_section" id="filters_sidebar_section">
    <h3>Filters</h3>
    <div class="panel_contents">
      <form accept-charset="UTF-8" action="/admin/customers" class="filter_form" id="q_search" method="get">
        <div style="margin:0;padding:0;display:inline">
          <input name="utf8" type="hidden" value="&#x2713;" />
        </div>
        <div class="filter_form_field filter_string">
          <label for="q_username_contains">Search Text</label>
          <input id="q_username_contains" name="q[username_contains]" size="30" type="text" />
        </div>
        <div class="filter_form_field filter_date_range">
          <label for="q_created_at_gte">Created at</label>
          <input class="datepicker" id="q_created_at_gte" max="10" name="q[created_at_gte]" size="12" type="text" value="" />
          <span class="seperator">-</span>
          <input class="datepicker" id="q_created_at_lte" max="10" name="q[created_at_lte]" size="12" type="text" value="" />
        </div>
        <div class="buttons">
          <input id="q_submit" name="commit" type="submit" value="Filter" />
          <a href="#" class="clear_filters_btn">Clear Filters</a>
          <input id="order" name="order" type="hidden" value="id_desc" />
          <input id="scope" name="scope" type="hidden" />
        </div>
      </form>
    </div>
  </div> 
</script>

<script id="mainContentForRow" type="text/x-jquery-tmpl">
  {{each(i, field) model.fields}}
  <td>{{if i==0}}<a href="javascript:;" onclick="interface.go('/${$data.model.name}/${content.id}/view')">{{/if}}${content[field.name]}{{if i==0}}</a>{{/if}}</td>
  {{/each}}
  <td>
    <a href="javascript:;" onclick="interface.go('/${model.name}/${content.id}/view')" class="member_link view_link">View</a>
    <a href="javascript:;" onclick="interface.go('/${model.name}/${content.id}/edit')" class="member_link edit_link">Edit</a>
    {{if !content.locked}}
    <a href="javascript:;" onclick="interface.admin.delete('${model.slug}', ${content.id})" class="member_link delete_link" data-confirm="Are you sure you want to delete this?" data-method="delete" rel="nofollow">Delete</a>
    {{/if}}
  </td>
</script>

<script id="mainContentForList" type="text/x-jquery-tmpl">
  <div class="scopes">
    <span class="scope all selected">
      <em>All</em>
      <span class="count">(${meta.total_items})</span>
    </span>
    <!-- <span class="scope in_progress"> -->
    <!--   <a href="/admin/orders?order=id_desc&amp;page=1&amp;scope=in_progress">In Progress</a> -->
    <!--   <span class="count">(32)</span> -->
    <!-- </span> -->
    <!-- <span class="scope complete"> -->
    <!--   <a href="/admin/orders?order=id_desc&amp;page=1&amp;scope=complete">Complete</a> -->
    <!--   <span class="count">(265)</span> -->
    <!-- </span> -->
  </div>
  <div class="paginated_collection">
    <div class="pagination_information">Displaying ${model.name} <b>${(meta.page-1)*(meta.page_size)+1}&nbsp;-&nbsp;${(meta.page-1)*(meta.page_size)+meta.count}</b> of <b>${meta.total_items}</b> in total</div>
    <div class="paginated_collection_contents">
      <div class="index_content">
        <div class="index_as_table">
          <table class="index_table" border="0" cellspacing="0" cellpadding="0" id="${model.name}">
            <thead>
              <tr>
                {{each(i, field) model.fields}}
                <th class="{{if field.slug === meta.order_by}}sorted-${meta.order}{{/if}} sortable">
                  <a href="javascript:;" onclick="interface.go('/${$data.model.name}?page=${meta.page}&page_size=${meta.page_size}&order_by=${field.name}&order=${meta.order === 'asc' ? 'desc' : 'asc'}')">${field.name}</a>
                </th>
                {{/each}}
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              {{each(i, item) content}}
              <tr id="${$data.model.name}_${item.id}" class="{{if i%2==0}}odd{{else}}even{{/if}}">
                {{tmpl({model: $data.model, content: item}) "#mainContentForRow"}}
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div id="index_footer">
      Download:&nbsp;<a href="http://api.triface.local/${model.name}.csv">CSV</a>&nbsp;<a href="http://api.triface.local/${model.name}.xml">XML</a>&nbsp;<a href="http://api.triface.local/${model.name}.json">JSON</a>
      <nav class="pagination">
        <span class="first">
          <a href="javascript:;" onclick="interface.go('/${model.name}?page=1&page_size=${meta.page_size}&order_by=${meta.order_by}&order=${meta.order}')">First &laquo;</a>
        </span>
        {{if meta.page > 1}}
        <span class="previous">
          <a href="javascript:;" onclick="interface.go('/${model.name}?page=${meta.page-1}&page_size=${meta.page_size}&order_by=${meta.order_by}&order=${meta.order}')" rel="previous">Previous &lsaquo;</a>
        </span>
        {{/if}}
        {{each(i, page) _.range(1, meta.total_pages)}}
        {{if page === $data.meta.page}}
        <span class="page current">${$data.meta.page}</span>
        {{else}}
        <span class="page">
          <a href="javascript:;" onclick="interface.go('/${model.name}?page=${page}&page_size=${$data.meta.page_size}&order_by=${$data.meta.order_by}&order=${$data.meta.order}')">${page}</a>
        </span>
        {{/if}}
        {{/each}}
        {{if meta.page < meta.total_pages}}
        <span class="next">
          <a href="javascript:;" onclick="interface.go('/${model.name}?page=${meta.page+1}&page_size=${meta.page_size}&order_by=${meta.order_by}&order=${meta.order}')" rel="next">Next &rsaquo;</a>
        </span>
        {{/if}}
        <span class="last">
          <a href="javascript:;" onclick="interface.go('/${model.name}?page=${meta.total_pages}&page_size=${meta.page_size}&order_by=${meta.order_by}&order=${meta.order}')">Last &raquo;</a>
        </span>
      </nav>
    </div>
  </div>
</script>

<script id="mainContentForEdit" type="text/x-jquery-tmpl">

  <form accept-charset="UTF-8" action="/${model.name}/${content.id}" class="formtastic ${model.name}" id="${model.name}_edit" method="post">
    <div style="margin:0;padding:0;display:inline">
      <input type="hidden" name="${model.name}[id]" value="${content.id}" />
    </div>
    <fieldset class="inputs">
      <ol>
        {{each(i, field) model.fields}}
        <li class="${field.type} required" id="${$data.model.name}_${field.name}_input">
          {{if field.editable}}
          {{tmpl({model: $data.model, content: $data.content, field: field}) "#"+field.type+"Field"}}
          {{else}}
          <label>${field.name}</label>
          ${$data.content[field.name]}
          {{/if}}
        </li>
        {{/each}}
      </ol>
    </fieldset>
    <fieldset class="buttons">
      <ol>
        <li class="commit">
          <div class="update" onclick="interface.admin.${action}('${model.name}')">${action} ${model.name}</div>
        </li>
        <li class="cancel">
          <a href="/${model.name}">Cancel</a>
        </li>
      </ol>
    </fieldset>
  </form>
</script>

<script id="mainContentForView" type="text/x-jquery-tmpl">
  <div class="panel">
    <h3>${model.name} Details</h3>
    <div class="panel_contents">
      <div class="${model.name} attributes_table" id="attributes_table_${model.name}_${content.id}">
        <table border="0" cellspacing="0" cellpadding="0">
          {{each(i, field) model.fields}}
          <tr>
            <th><label class="label">${field.name}</label></th>
            <td>${$data.content[field.name]}</td>
          </tr>
          {{/each}}
        </table>
      </div>
    </div>
  </div>
</script>

<script id="booleanField" type="text/x-jquery-tmpl">
  <label for="${model.name}_${field.name}">
    <input type="checkbox" id="${model.name}_${field.name}" name="${model.name}[${field.name}]" value="true" {{if content[field.name]}}checked{{/if}} />
    ${field.name}
  </label>
</script>

<script id="stringField" type="text/x-jquery-tmpl">
  <label for="${$data.model.name}_${field.name}">${field.name}<abbr title="required">*</abbr></label>
  <input type="text" id="${model.name}_${field.name}" name="${model.name}[${field.name}]" maxlength="255" value="${content[field.name]}" />
</script>

<script id="slugField" type="text/x-jquery-tmpl">
  <label for="${$data.model.name}_${field.name}">${field.name}<abbr title="required">*</abbr></label>
  <input type="text" name="${model.name}[${field.name}]" value="${content[field.name]}" />
</script>

<script id="integerField" type="text/x-jquery-tmpl">
  <label for="${$data.model.name}_${field.name}">${field.name}<abbr title="required">*</abbr></label>
  <input type="text" name="${model.name}[${field.name}]" value="${content[field.name]}" />
</script>

<script id="textField" type="text/x-jquery-tmpl">
  <label for="${$data.model.name}_${field.name}">${field.name}<abbr title="required">*</abbr></label>
  <textarea name="${model.name}[${field.name}]">${content[field.name]}</textarea>
</script>

<script id="timestampField" type="text/x-jquery-tmpl">
  <label for="${$data.model.name}_${field.name}">${field.name}<abbr title="required">*</abbr></label>
  <input type="text" name="${model.name}[${field.name}]" value="${content[field.name]}" />
</script>

<script id="collectionField" type="text/x-jquery-tmpl">
  {{tmpl({model: field.target(), content: content[field.name], meta: {}}) "#mainContentForList"}}
</script>

<script id="partField" type="text/x-jquery-tmpl">
  <label for="${$data.model.name}_${field.name}">${field.name}<abbr title="required">*</abbr></label>
  <input type="text" name="${model.name}[${field.name}]" value="${content[field.name]}" />
</script>

<script id="linkField" type="text/x-jquery-tmpl">
  <label for="${$data.model.name}_${field.name}">${field.name}<abbr title="required">*</abbr></label>
  <input type="text" name="${model.name}[${field.name}]" value="${content[field.name]}" />
</script>
