/*body {
    color: #fff;
    background-color: #111;
    font-family: Monospace;
}

ul {
    list-style-type: none;
}

#header {
    position: absolute;
    height: 50px;
}

#container {
    position: absolute;
    top: 50px;
}

#nav ul {
    position: relative;
    display: block;
}

#nav ul li {
    float: left;
    height: 19px;
    padding: 5px 15px 3px 8px;
}

#nav ul li.selected {
    color: #111;
    background-color: #eed;
}

#add {
    height: 30px;
    padding: 11px 5px 0 5px;
    color: #7777cc;
}

.save {
    color: #7777cc;
}

.edit {
    color: #55cc99 !important;
}

.delete {
    color: #882222 !important;
}

.label {
    color: #55cc99 !important;
}

.chzn-container+.new_instance_button {
  display: inline-block;
  background: darkGray;
  width: 25px;
  text-align: center;
  height: 23px;
  color: white !important;
  text-decoration: none !important;
  vertical-align: top;
  padding-top: 6px;
}
*/
.hidden {
  display: none;
}

.toggle-fields {
  float: right;
  font-weight: normal;
  font-size: 10px;
  text-transform: uppercase;
  text-shadow: none;
  text-decoration: none !important;
}

.chzn-container+.new_instance_button {

  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
  background: #838A90;
  background: -webkit-gradient(linear, left top, left bottom, from(#838A90), to(#414549));
  background: -moz-linear-gradient(-90deg, #838A90, #414549);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#838a90, endColorstr=#414549);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#838a90, endColorstr=#414549);
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  text-shadow: black 0 1px 0;
  text-decoration: none;
  margin-right: 3px;
  font-weight: bold;
  font-size: 1.0em;
  cursor: pointer;
  padding: .6em 1.2em .5em 1.2em;
  border: none;
  color: #EFEFEF;

}


form fieldset {
  padding: 0 0 10px;
}
